html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, hgroup, p,
dl, dialog, dt, dd, ol, ul, li,
abbr, acronym, address, b, big, blockquote,
cite, code, del, dfn, em, i, ins, kbd, pre, q,
samp, tt, var, small, strong, sub, sup,
object, iframe, form, fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section,
figure, menu, time, mark, audio, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  background: transparent;
}

textarea, input, select {
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}

a {
  font-variant: small-caps;
  color: #004a8d;
  text-decoration: none;
}

ol {
  padding: 1em 0;
}

hr{
  border:1px solid #eee;
}

a:focus {
  outline: 0; 
}

html{
  background: #002934 url(../images/bg.jpg) 0 -20px no-repeat;
}

h1,h2,h3,h3,h4{
  color: #004A8D;
  font-weight: bold;
}

h3{
  font-size: 18px;
  margin-top: 5px;
}

h4{
  font-size: 16px;
  color: #0B71AD;
  font-weight: normal;
}

#content{
  background: url(../images/content.png) 0px 66px no-repeat;
  width: 1024px;
  margin: 0 auto;
}

#header{
  width: 899px;
  margin: 0 auto;
  background: url(../images/header.png) top center no-repeat;
  height: 176px;
}
.padded{
  margin: 0 2em;
}

h1{
  font-size: 24px;
  font-weight: bold;
}

dl dt{
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 15px;
  line-height: 24px;
}

dl dd{
  font-size: 14px;
  font-family: sans-serif;
}

#body{
  width: 894px;
  background: url(../images/background.png);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255,255,255,0.0)),
      color-stop(0.08, white)
      );

  margin-left: 70px;
}

#logo-holder{
  text-indent: -999em;
  height: 173px;
  width: 303px;
  float: left;
}

.column{
  float: left;
  width: 300px;
}

#main-menu{
  width: 884px;
  margin: 0 auto;
}

.menu{
  float: left;
  margin-top: 120px;
  width: 290px;
}

ul.menu{
  list-style: none;
}

ul.menu li{
  float: left;
  line-height:  27px;
  margin-left: 45px;
}

ul.menu li a{
  font-size: 20px;
}

#left-menu{
  float: left;
}

#right-menu{
  float: right;
}

#logo a{
  height: 173px;
  width: 303px;
  display: block;
  background: url(../images/logo.png) no-repeat;
  text-indent: -999em;
}

#slider{
  width: 700px;
  background:url(../images/loading.gif) no-repeat 50% 50%;
}

.frame{
  width: 700px;
  height: 400px;
  margin: 0 auto;
  background: white;
  padding: 10px;
  border: 1px solid #B3BFC4;
  -webkit-box-shadow: 0px 0px 15px gray;
  -moz-box-shadow:    0px 0px 15px gray;
  box-shadow:         0px 0px 15px gray;
}

.nivo-control{
  display: none;
}

.nivo-directionNav a {
  display:block;
  width:30px;
  height:30px;
  background:url(../images/arrows.png) no-repeat;
  text-indent:-9999px;
  border:0;
}

a.nivo-nextNav {
  background-position:-30px 0;
  right:15px;
}

a.nivo-prevNav {
  left:15px;
}

#map_canvas{
  margin: 0em 2em;
  float: left;
}

.clear{
  clear: both;
}

#unit_tool{
  margin-left: 25px;
  margin-right: 25px;
}

#unit_tool .models h3{
  font-size: 24px;
}

#unit_tool ul.floor_plan_nav{
  list-style:none;
  width: 700px;
  margin: 0 auto 15px auto
}

#unit_tool ul.floor_plan_nav li{
  float: left;
  margin-left: 10px;
  font-size: 18px;
}

#unit_tool ul.floor_plan_nav li a{
  display: block;
  width: 165px;
  text-align: center;
}
#unit_tool ul.floor_plan_nav li a:hover {
  text-decoration: underline;
}

.column{
  float: left;
}

#unit_tool .column.models{
  width: 120px;
}

#unit_tool .column.floorplans{
  width: 600px;
  margin-left: 30px;
}

img.siteplan{
  background: white;
  padding: 25px;
}

#unit_tool .column.pictures{
  width: 320px;
}

#unit_tool .picture{
  width: 150px;
  height: 125px;
  background: white;
  border: 1px solid #eee;
  float: left;
}

#unit_tool .unit{
  display: none;
}

#faq-panes{
}

#faq-menu{
  margin: 20px auto 20px auto;
  width: 440px;
  height: 15px;
}

#download-stuff{
  margin-top: 40px;
}

#faq-menu ul{
  list-style: none
}
#faq-menu li{
  float: left;
}
#faq-menu li a {
  width: 220px;
  display: block;
  text-align: center;
}
#faq-menu li a:hover {
  text-decoration: underline;
}
.faq ul, .spec ul{
  margin-left: 20px;
}

.faq h3, .spec h3{
  margin-top: 20px;
}
.faq h4, .spec h4{
  margin-top: 10px;

}

label{
  display: block;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.input input{
  height:25px;
  line-height: 25px;
  width: 200px;
}

textarea{
  width:271px;
  height: 132px;
}

.column{
  width: 250px;
  display: block;
  float: left;
}

.actions{
  clear:both; float: right; margin-right:50px
}

#form_column{}
#picture_column{
  width: 330px;
}

#bio_column{
}

.input{
  margin-bottom: 5px;
}

.person{
  margin: 0px 0px 20px 0px;
}

.person p{
  padding-top: 1em;
}

.person{
  margin-right: 6em;
}

.person dl{
  float: left;
  margin-right: 25px;
}

.person dl dt{
  font-size: 14px;
}

.person dl dd{
  font-size: 12px;
}

.peeps{
  float: left;
  width: 560px;
}

#pitches{
  width: 720px;
  margin: 1em auto;
}

.pitch{
  width: 345px;
  float: left;
  margin-bottom: 1em;
  margin-top: 1em;
}

.pitch.first{
  margin-right: 30px;
}

.pitch p{
  padding-top: 7px;
  text-align: justify;
}

#footer {
  margin: 0px 2em;
}

#footer ul{
  width: 400px;
  height: 30px;
  margin: 0 auto;
}

#footer ul{
  list-style: none;
}

#footer ul li{
  float: left;
}
#footer ul li a{
  width: 80px;
  display: block;
  text-align: center;

}

.pitch_image{
  float: left;
  height: 100px;
  width: 100px;
  margin: 0.5em 1em 2em 0em;
  padding: 5px;
  background: white;
  border: 1px solid #eee;
  -webkit-box-shadow: 1px 1px 3px #eee;
  -moz-box-shadow:    1px 1px 3px #eee;
  box-shadow:         1px 1px 3px #eee;
}


.thumb{
  float: left;
  cursor: pointer;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 5px gray;
  -moz-box-shadow:    0px 0px 5px gray;
  box-shadow:         0px 0px 5px gray;
}
.floorplan {
  margin: 0 1em 1em 1em;
  padding: 0.5em;
  background: white;
  border: 1px solid #eee;
  width: 150px;
  height: 200px;
}
.rendering{
  padding: 0.5em;
  margin: 0 1em 1em 1em;
}
.thumb:hover {
  -webkit-box-shadow: 0px 0px 2px gray;
  -moz-box-shadow:    0px 0px 2px gray;
  box-shadow:         0px 0px 2px gray;
}

#rendering_normal{
  height: 434px;
}

#news-flash {
  width: 400px;
  margin: 0 auto;
  padding: 0.5em 2em;
  background: #C6D5D7;
  margin-bottom: 1em;
  line-height: 20px;
  text-align: center;
}

#body {
  margin-top: 30px;
}
